<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">

    <title th:text="${title}"></title>
</head>
<body>
<header>
    <nav th:insert="/views/fragments/general.html"></nav>
</header>
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div class="container">
                <form action="javascript:">
                    <div  class="form-group row">
                        <div th:each="asigantura:${asiganturas}" class="form-check align-self-center col-4">
                            <input class="form-check-input" type="checkbox" value="" th:attr="id=${asigantura.getId()}">
                            <label class="form-check-label"th:attr="id=${asigantura.getId()}" th:for="${asigantura.getId()}" th:text="${asigantura.getNombreAsignatura()}"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script> function Post() {
    $.ajax({
        type: "POST",
        url:"views/validadas",
        contentType:'application/json',
        dataType:'json',
        async: false,
        data: JSON.stringify({""})
    });
}</script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>