<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">	
<title>Insert title here</title>
</head>
<body>
<select name="nombreUniversidad" id="nombre" class="form-control">
            <option th:each="grados: ${grados}" th:value="${grados.nombreUniversidad}" th:text="${grados.nombreUniversidad}"></option>
        </select>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>