<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" crossorigin="anonymous">

    <title th:text="${title}"></title>
</head>
<body>
<header>
    <nav th:insert="/views/fragments/general.html"></nav>
</header>
<div class="container">
    <div class="row">
        <h1 th:each="asignatura:${ids}"  th:text="${asignatura.getNombreAsignatura()}"></h1>
    </div>
</div>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>